.homepage{
    background-image: linear-gradient(to right, rgb(6, 102, 107),rgb(80, 176, 189));
    margin: 0;
}

.homepage-view-employees{
    position: relative;
    margin: 0;
    height: 400px;
}

.view-box{
    position: absolute;
    left: 20%;
    top: 30%;
    border-style: solid;
    border-width: medium;
    border-radius: 15px;
    width: 35%;
    height: 150px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 18px;
}

.list-image{
    position: absolute;
    top: 30%;
    left: 60%;
}

.image-list{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60%;
    top: 35%;
    background-image: url(/src/assets/list-image.png);
    background-size: cover;
}





.add-employees{
    position: relative;
    height: 400px;
}

.image-add-employee{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60%;
    top: 36%;
    background-image: url(/src/assets/add-image.png);
    background-size: cover;
}



.add-category{
    position: relative;
    height: 300px;
}

.image-add-category{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60%;
    top: 36%;
    background-image: url(/src/assets/add-image.png);
    background-size: cover;
}




.add-files{
    position: relative;
    height: 300px;
}

.image-add-file{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60%;
    top: 37%;
    background-image: url(/src/assets/add-file.png);
    background-size: cover;
}