

.page{
    background-image: linear-gradient(to right,rgb(30, 212, 236),rgb(109, 170, 179));
    margin: 0;
    padding: 0;
}

header {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.header-h1{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-nav-links{
    position: absolute;
    margin: 0;
    top: 3%;
    right: 5%;
}

.page-nav-link{
    border-style: solid;
    
}

footer {
    position: fixed;
    bottom: 1%;
}