

.page{
    background-image: linear-gradient(to right,rgb(30, 212, 236),rgb(109, 170, 179));
    margin: 0;
    padding: 0;
}

header {
    border-bottom-style: solid;
    border-bottom-width: thin;
    height: 60px;
}

.header-h1{
    position: absolute;
    left: 1%;
    top: 1%;
    text-decoration: underline;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-nav-links{
    position: absolute;
    margin: 0;
    top: 2%;
    right: 11%;
}

.header-button{
    border-radius: 15px;
    height: 30px;
    margin: 3px;
}


.page-nav-link{
    border-style: solid;
}

footer {
    position: fixed;
    font-size: small;
    bottom: 1%;
}